<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/ico" href="/static/favicon.ico" />
	</head>
	<body>
	    <div id="app">
	        <router-view></router-view>
	    </div>
	    
	    <!--使用CommonsChunkPlugin插件打包公共文件,把manifest.js文件打到html中减少一次http请求-->
	    <%= htmlWebpackPlugin.files.webpackManifest %>
	    
	    <!--使用DllPlugin打包公共文件,把dll生成的js引入到html中-->
	    <%= htmlWebpackPlugin.options.jsFiles %>
	</body>
</html>
